/*全局样式表*/
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1280px;
}
.el-breadcrumb {
  margin-bottom: 20px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
  margin-top: 15px;
  font-size: 12px;
}
.el-pagination {
  margin-top: 15px;
}
.el-cascader-menu {
  height: 300px;
}
.el-steps {
  margin: 15px 0;
}
.el-step__title {
  font-size: 12px;
}
.ql-editor {
  min-height: 300px;
}
p {
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*包含以下四种的链接*/
a {
  text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
  text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
  text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
}
/* 正在点击的链接*/
a:active {
  text-decoration: none;
}
